

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron h1{
    font-size: 48px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 1170px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

#notification {
    display: none;
    position: fixed;
    width: 700px;
    z-index: 1;
    opacity: .94;
    top: 20px;
}

.red {
    color:red;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    /*border: 1px solid GREY;*/
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/** added **/

.pre-loader {
    background: #336799;
}

.details {
    min-height: 110px;
    display: inline-block;
}

.glyphicon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}

.system-message {
    /*display: none;*/
    background: none repeat scroll 0 0 #f0595c;
    border-radius: 3px 0 0 0;
    color: white;
    text-align: center;
    padding: 0 60px 0 40px;
    position: fixed;
    right: 1em;
    bottom: 1em;
    font-size: 16px;
    z-index: 9;
}

.system-message p {
    padding-top: 1.1em;
    padding-bottom: 1em;
    margin-bottom: 0;
}

.system-message-close {
    color: #d84144;
    font-weight: bold;
    padding: 2px 8px 8px;
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.cbt-tags {
    border: none !important;
    box-shadow: none !important;
}

.label {
    padding: 1.2em 1.6em 1.3em !important;
    font-size: 85% !important;
}