<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close dismiss" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><%= title %> </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <form class="form-create">
                        <input type="text" class="form-control" id="cbt-description" name="cbt-description" placeholder="Fill name"/>
                        <br class="clearfix"/>
                        <select class="form-control" id="cbt-type" name="cbt-type">
                            <option value="none">Select type</option>
                            <option value="cardio">Cardio</option>
                            <option value="strength">Strength</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a id="cbt-save" class="btn btn-success" href="#">Save</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->