<div class="col-sm-6 bootcards-list" id="list" data-title="Activities">		
    <div class="panel panel-default">					
        <div class="panel-body">
            <div class="search-form">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search activities...">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <a id="create-activity" class="btn btn-primary btn-block" href="#">
                            <i class="glyphicon glyphicon-plus"></i> 
                            <span>Create</span>
                        </a>
                    </div>
                </div>   
            </div>
        </div>
        <div id="activity-items" class="list-group"></div>
    </div>
</div>
<div class="col-sm-6 bootcards-details" id="listDetails">
    
</div>