<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label class="col-md-4 control-label" for="cbt-activity-description">Description</label>  
      <div class="col-md-6">
        <input id="cbt-activity-description" name="cbt-activity-description" type="text" placeholder="placeholder" class="form-control input-md">
        <!--<span class="help-block">help</span>-->  
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="cbt-activity-type">Type</label>  
      <div class="col-md-6">
        <select class="form-control cbt-type" name="cbt-activity-type" id="cbt-activity-type">
          <option value="none">Select type</option>
          <option value="cardio">Cardio</option>
          <option value="strength">Strength</option>
        </select>
        <span class="help-block">select activity type for use in metrics.</span> 
      </div>
    </div>
    <a id="cbt-activity-update" class="btn btn-success pull-right" href="#">Update</a>
  </fieldset>
</form>