<div class="col-sm-8 bootcards-cards" data-title="ActivityUpdate">
  <div class="panel panel-default">
    <div class="panel-footer">
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8" id="activity-region"></div>
        <div class="col-md-4" id="metrics-region">
          <div id="metrics-view"></div>
        </div>
      </div>
      <hr class="clearfix"/>
    </div>
  </div>
</div>

