<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close dismiss" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4><%= title %> </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <form class="form-create">
                        <input type="text" class="form-control" name="cbt-name" id="cbt-name" placeholder="Fill name"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a id="cbt-saveSubactivity" class="btn btn-success" href="#">Save</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->