<div class="alert alert-<%= _.isUndefined(obj.type)? 'info' : type %>">
  <button type="button" class="close dismiss" aria-hidden="true">×</button>
  <% if(!_.isUndefined(obj.title)) { %>
  <h4><%= title %></h4>
  <% } %>
  <%= description %>
</div>