<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close dismiss" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><span class="glyphicon glyphicon-"></span> Hello! </h4>
    </div>
      <div class="modal-body">
          Content
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-sm dismiss" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->