<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="wrapper">
      <div class="form-area">
        <form class="form-signin">       
          <h2 class="form-signin-heading">Please login</h2>
          <br class="clearfix"/>
          <input type="text" class="form-control" id="cbt-username" name="cbt-username" placeholder="Username" required="" autofocus="" />
          <br class="clearfix"/>
          <input type="password" class="form-control" id="cbt-password" name="cbt-password" placeholder="Password" required=""/>      
          <label class="checkbox" style='display:none'>
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
          </label>
          <br class="clearfix"/>
          <p>Don't you have an account?&nbsp<a href='#{"cls":"register"}'>Register</a></p>
          <br class="clearfix"/>
          <button class="btn btn-lg btn-info btn-block" id="btn-login" type="button">Login</button>   
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>