<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="wrapper">
      <div class="form-area">
        <form class="form-signin">       
          <h2 class="form-signin-heading">Register a new account</h2>
          <br class="clearfix"/>
          <input type="text" class="form-control" id="cbt-firstname" name="cbt-firstname" placeholder="first name" required="" autofocus="" />
          <br class="clearfix"/>
          <input type="text" class="form-control" id="cbt-lastname" name="cbt-lastname" placeholder="last name" required=""/>      
          <br class="clearfix"/>
          <input type="text" class="form-control" id="cbt-username" name="cbt-username" placeholder="pick a username" required="" autofocus="" />
          <br class="clearfix"/>
          <input type="password" class="form-control" id="cbt-password" name="cbt-password" placeholder="password" required=""/>      
          <br class="clearfix"/>
          <input type="password" class="form-control" id="cbt-password1" name="cbt-password1" placeholder="password again" required=""/>      
          <br class="clearfix"/>
          <input type="email" class="form-control" id="cbt-email" name="cbt-email" placeholder="email"/>      
          <br class="clearfix"/>
          <p>Already have an account?&nbsp<a href='#{"cls":"login"}'>Login</a></p>
          <br class="clearfix"/>
          <button class="btn btn-lg btn-info btn-block" id="btn-register" type="button">Submit</button>   
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>