<section id="home">
    <div class='container'>
        <div class='section-heading'>
            <h1>Home</h1>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
        </div>
    </div>  
</section>