.cbt-list-nostyle {
    list-style: none;
    margin: 0;
}

.cbt-list-item {
    min-height: 100px;
}

.cbt-list-item-content {
    position: relative;
    padding: 8px 0;
}

.cbt-list-item .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

/*.cbt-list-actions {
    position: absolute;
    bottom: 2px;
    right:0;
    margin-right: 30px
}*/